# Basic time series exploration

In [9]:
import numpy as np
import pandas as pd

full_data = pd.read_csv("my_expenses.csv", delimiter = ";", decimal = ",")
full_data.head()

,original,Date,amount_kn,Amount,Note,Currency,Category
0,220 kn interšpar,2021-09-25,220.0,29.20,interšpar,EUR,shopping
1,200kn gym,2021-10-01,200.0,26.54,gym,EUR,gym
2,230kn ducan interspar,2021-10-02,230.0,30.53,ducan interspar,EUR,shopping
3,400 kn lijekovi baka + plivit total,2021-10-04,400.0,53.09,lijekovi baka + plivit total,EUR,baka
4,250 kn lidl,2021-10-08,250.0,33.18,lidl,EUR,shopping

In [10]:
full_data_amounts = full_data.drop(["original", "amount_kn", "Note", "Currency"], axis=1)
full_data_amounts.head()

         Date  Amount  Category
0  2021-09-25   29.20  shopping
1  2021-10-01   26.54       gym
2  2021-10-02   30.53  shopping
3  2021-10-04   53.09      baka
4  2021-10-08   33.18  shopping

In [12]:
daily = full_data_amounts.groupby("Date")[["Amount"]].sum()
daily.head()

            Amount
Date
2021-09-25   29.20
2021-10-01   26.54
2021-10-02   30.53
2021-10-04   53.09
2021-10-07   39.95

In [14]:
daily.index = pd.to_datetime(daily.index)
daily.index

DatetimeIndex(['2021-09-25', '2021-10-01', '2021-10-02', '2021-10-04',
               '2021-10-07', '2021-10-08', '2021-10-09', '2021-10-12',
               '2021-10-16', '2021-10-20',
               ...
               '2024-03-19', '2024-03-20', '2024-03-21', '2024-03-22',
               '2024-03-23', '2024-03-25', '2024-03-26', '2024-03-27',
               '2024-03-28', '2024-03-29'],
              dtype='datetime64[ns]', name='Date', length=502, freq=None)

In [36]:
# Get monthly amounts
monthly = daily.resample("1M").sum()
monthly.head()

            Amount
Date
2021-09-30   29.20
2021-10-31  659.76
2021-11-30  840.82
2021-12-31  378.26
2022-01-31  825.94

## Creating a Prophet model

In [37]:
monthly.columns = ["y"]
monthly["ds"] = monthly.index

monthly.reset_index(drop = True)
monthly.head()

                 y         ds
Date
2021-09-30   29.20 2021-09-30
2021-10-31  659.76 2021-10-31
2021-11-30  840.82 2021-11-30
2021-12-31  378.26 2021-12-31
2022-01-31  825.94 2022-01-31

In [38]:
from prophet import Prophet
model = Prophet()

# The dataframe should have specific column names


model.fit(monthly)

17:31:45 - cmdstanpy - INFO - Chain [1] start processing
17:31:45 - cmdstanpy - INFO - Chain [1] done processing