# Basic time series exploration

In [9]:
import numpy as np
import pandas as pd

full_data = pd.read_csv("my_expenses.csv", delimiter = ";", decimal = ",")
full_data.head()

,original,Date,amount_kn,Amount,Note,Currency,Category
0,220 kn interšpar,2021-09-25,220.0,29.20,interšpar,EUR,shopping
1,200kn gym,2021-10-01,200.0,26.54,gym,EUR,gym
2,230kn ducan interspar,2021-10-02,230.0,30.53,ducan interspar,EUR,shopping
3,400 kn lijekovi baka + plivit total,2021-10-04,400.0,53.09,lijekovi baka + plivit total,EUR,baka
4,250 kn lidl,2021-10-08,250.0,33.18,lidl,EUR,shopping

In [10]:
full_data_amounts = full_data.drop(["original", "amount_kn", "Note", "Currency"], axis=1)
full_data_amounts.head()

         Date  Amount  Category
0  2021-09-25   29.20  shopping
1  2021-10-01   26.54       gym
2  2021-10-02   30.53  shopping
3  2021-10-04   53.09      baka
4  2021-10-08   33.18  shopping

In [11]:
full_data_amounts.groupby("Date")[["Amount"]].sum()

            Amount
Date
2021-09-25   29.20
2021-10-01   26.54
2021-10-02   30.53
2021-10-04   53.09
2021-10-07   39.95
...            ...
2024-03-25    4.80
2024-03-26   32.10
2024-03-27    4.70
2024-03-28   61.40
2024-03-29  210.10

[502 rows x 1 columns]